/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*************** _COLOR_ *******************/
/*************** ** *******************/
/************** _FONT_SIZE_ *****************/
/*******************************************/
/*************** __ *******************/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movieInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3.0rem; }

.header-primary {
  color: #dce2e8;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .header-primary-primary--main {
    display: block;
    font-size: 6.0rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header-primary-primary--sub {
    display: block;
    font-size: 2.0rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: movieInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    margin-bottom: 6.0rem; }

.header-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #a5c02c, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .header-secondary:hover {
    transform: skewY(10deg) skewX(30deg);
    box-shadow: 0.5rem 1rem 2rem #000; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #28b485;
  border-bottom: 1px solid #28b485;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem black;
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #a5c02c;
      z-index: 20;
      transform: scale(1.2);
      box-shadow: 0 2.5rem 4rem black; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2rem*2) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2rem*2) / 3) * 2 + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 2rem*3) / 4); }
  .row .col-2-of-4 {
    width: calc( (100% - 2rem) / 2); }
  .row .col-3-of-4 {
    width: calc(((100% - 2rem*3) / 4) * 3 + 2 * 2rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(165, 192, 44, 0.753), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
